.main-section {
  margin-left: 300px;
}

code {
  display: block;
  text-align: left;
  white-space: pre;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

#main-doc {
  position: absolute;
}

#navbar {
  position: fixed;
  overflow: scroll;
}
.nav-link {
  display: block;
  padding: 30px;
}

header {
  padding: 0px
}

li {
  list-style: none;
}

@media (max-width: 300px) {
  #navbar {
   display: block;
  }
}